// Non-modular or client styles for the .l-content region.

body {
	background: $plum;
	color: $orange;
	a {
		transition: all .3s ease-in-out;
		&:hover {
			opacity: 0.8;
		}
	}
}

.row {
	@media #{$xxlarge-up} { 
		max-width: 1400px;
	}
}

.off-canvas-content, 
.off-canvas-content {
	background: transparent;
}
.title-page {
	background: $plum;
	.field-name-field-body-text {
		// width: 45%;
		margin: 0 auto;
		border: 3px solid $orange;
		border-radius: 3px;
		text-align: center;
		color: $orange;
		text-transform: uppercase;
		padding: 10px 20px;
		position: relative;
		z-index: 1;
		background: $plum;
		h1 {
			padding: 20px 0;
			font-size: 32px;
			@media #{$medium-up} {
				font-size: 42px;
			}
			@media #{$large-up} {
				font-size: 56px;	
			}
			@media #{$xxlarge-up} {
				font-size: 86px;
			}
		}
		h2 {
			font-size: 21px;
			letter-spacing: 2px;
			font-family: $serif-font;
			@extend .icon-header-left;
			@extend .icon-header-right;					
			&:before, &:after {
				@extend .icomoon;
				font-size: 6px;
				display: none;
    		margin: 0px 10px;
    		position: relative;
    		top: -3px;			
    		@media #{$medium-up} {
    			display: inline-block;	
    		}	
			}
			@media #{$xxlarge-up} {
				font-size: 32px;
			}
		}
	}
}

.ampersand {	
	height: 65px;
	width: 45px;
	display: inline-block;
	position: relative;
	&:before {
		content: '';
		background: url('../images/ampersand.svg') no-repeat;
		position: absolute;
		height: 120px;
		width: 120px;
		left: -30px;
		top: -15px;
		opacity: 0.25;
	}
}

.paragraph--type--image-content {
	.field-wrapper {

	}
	.field-type-image, .field-name-field-body-text {
		position: relative;
		z-index: 1;
		border-radius: 3px;
	}
	.field-name-field-body-text {
		padding: 20px;
	}
}

.bg-color {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	left: 0;
	right: 0;
}

.how-we-met,
.wedding-information {
	background: transparent;
	color: $green-lt;
	.bg-color {
		background: $green;
	}
	.field-type-image, .field-name-field-body-text {
		background: $green;	
		border: 3px solid $green-lt;
		margin-bottom: 15px;
	}
}

.how-we-met,
.wedding-information {
	h2 {
		@extend .icon-header-left;
		@extend .icon-header-right;	
		&:before, &:after {
			@extend .icomoon;
			font-size: 6px;
			display: none;				
  		margin: 0px 10px;
  		position: relative;
 			top: -6px;		
    	@media #{$medium-up} {
   			display: inline-block;	
    	}	 					
		}
	}
}

.wedding-information {
	h2 {
		&:before, &:after {
			@extend .icomoon;
			font-size: 8px;
			display: inline-block;				
  		margin: 0px 15px;  		
 			top: -9px;		
		}		
	}
}
.our-adventures {
	background: transparent;
	.bg-color {
		background: $orange-dk;
	}	
	.field-type-image {
		border: 3px solid $orange-lt;
		border-radius: 3px;
		margin-bottom: 15px;
	}
}

.proposal {
	background: transparent;
	text-align: center;
	.bg-color {
		background: $red-dk;
	}		
	.field-type-image {
		border: 3px solid $red;
		border-radius: 3px;		
		img {
			width: 100%;
			height: auto;
		}
	}
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: $orange !important;
}

.leaves-1 {
	background: url('../images/leaves-full.svg') no-repeat;
	position: absolute;
	height: 1800px;
	width: 1000px;
	background-size: 100%;
	z-index: 0;
	top: 0;
	left: 0;
	@media #{$xxlarge-up} {
		width: 2000px;
		height: 3000px;
		background: url('../images/leaves-full-retina.svg') no-repeat;
	}
	&.page-layout {
		z-index: -1;
		height: 100%;
	}
}

.image-wrapper {
	position: relative;
	.field {
		position: relative;
		z-index: 1;
	}
}

.image-leaves {
	width: 120%;
	height: 150%;
	position: absolute;
	top: -18%;
	left: -10%;
	z-index: 0;
	background: url('../images/leaves-frame.svg') no-repeat;
}
#fp-nav.right {
	ul {
		li {
			.fp-tooltip {
				color: $orange;
			}
		}
	}
}


.rsvp {
	min-height: 700px;
}
.content-rsvp {
	background: $plum;
	border: 3px solid $orange;
	border-radius: 3px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 30px 0;
	h2 {
		margin: 0;
		@media #{$medium-up} {
			font-size: 30px;	
		}		
	}
}

.registry {
	display: block;
	height: 90px;
	background: $orange;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;	
  width: 90%;
  margin: 0 auto 10px;
	&.bbab {
		background-image: url('../images/bbab.svg');
	}
	&.travelers {
		background-image: url('../images/travelers.svg');
		background-size: 70%;	
	}
	&.amazon {
		background-image: url('../images/amazon.svg');
	}		
}

.paragraph--type--general-content {
	.field-wrapper {
		border: 3px solid $orange;
		border-radius: 3px;
		padding: 40px;
		h2 {
			margin-bottom: 40px;
		}
	}	
}

.field-type-link {
	position: relative;
	z-index: 1;
	margin: 10px 0;
	a {
		display: block;
		background: rgba($green-lt, 0.8);
		text-align: center;
		padding: 10px;
		color: $green;
		font-size: 36px;
		font-weight: 600;
		border-radius: 3px;
		font-family: $serif-font;
		letter-spacing: 5px;
	}
}

.rsvp-button {
	position: fixed;
	bottom: 0;
	right: 20px;	
	z-index: 2;	
	font-weight: bold;
	a {
		color: $plum;	
		background: rgba($orange, 0.8);
		padding: 9px 20px 5px;
		display: inline-block;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
}

.button {
	color: $green;	
	font-weight: bold;
	background: rgba($green-lt, 0.8);
	padding: 10px 20px;
	display: inline-block;
	border-radius: 3px;	
	font-size: 18px;		
	transition: all .3s ease-in-out;
	&:hover {
		background: rgba($green-lt, 0.8);
		color: $green;	
	}
}

.wedding-information {
	background: $green;	
	.field-type-image, .field-name-field-body-text {
		background: $green;	
		border: 3px solid $green-lt;
	}	
	h3 {
		margin-bottom: 0;
		line-height: 1.2;
	}
}

.section-title {
	font-size: 42px;
	margin-bottom: 30px;
}

